<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <section id="control">
      <button>Choose Directory</button>
      <button>Start</button>
    </secetion>

    <section id="output">
      <p>Serving on <a href="http://127.0.0.1:8080">http://127.0.0.1:8080</a></p>
    </section>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/window.js"></script>
  </body>
</html>